$pad-amount: 30px;

.container {
  padding: $pad-amount;
}

.button-align {
  align-items: flex-end;
  padding-left: 10px;
  // .btn {
  //   padding: 0.46rem .75rem;
  // }
}

.button-padding {
  padding: 0.46rem .75rem;
}

.button-margin {
  margin-left: 10px;
}
.num-width {
  margin-left: auto;
  width: 50%;
}

.num-label-align {
  width: 100%;
  max-width: 50%;
  text-align: right;
}

.cal-label {
  font-weight: bold;
}

input:focus::placeholder{
       color:transparent;
  }

// input {
//   display: block;
//   padding: 0;
//   margin: 0;
//   border: 0;
//   width: 100%;
// }
//
// td {
//   margin: 0;
//   padding: 0;
// }
