{% extends "layout.html" %}

{% block templates %}
<script id="is-entered" type="text/template">
  {% raw -%}
      {{#with date}}
      <div class="col-2">
        <label class="cal-label" for="is-label">_____</label>
        <h5 id="is-label">Initial Series:</h5>
      </div>
      <div class = "col-3 main-date-col">
        <label class="cal-label main-" for="lc-0">Long Count</label>
        {{#with long_count}}
        <p id="lc-0">{{baktun}}.{{katun}}.{{tun}}.{{winal}}.{{kin}}</p>
        {{/with}}
      </div>
      <div class="col-3 main-date-col">
        <label class="cal-label" for="cr-0">Calendar Round</label>
        {{#with calendar_round}}
        <p id="cr-0">{{#with tzolkin}}{{day_number}} {{day_name}}{{/with}}  {{#with haab}}{{month_number}} {{month_name}}{{/with}}<p>
        {{/with}}
      </div>
      <div class = "col-1 g-col">
        <label class="cal-label" for="g-0">Glyph G</label>
        <p id="g-0">{{glyph_g}}</p>
      </div>
      <div class="form-row button-align col-1">
        <button type="button" name="add-row-0" id="add-row-0" class="btn btn-success btn-sm button-padding edit-mode-button">Add Row</button>
      </div>
      <div class="form-row button-align col-1">
        <button type="button" name="edit-0" id="edit-0" class="btn btn-primary btn-sm button-padding edit-mode-button">Edit</button>
      </div>
      <div class="form-row button-align col-1">
        <div id="convert-0-div" class="btn-group">
          <button type="button" id="convert-0" class="btn btn-sm btn-danger button-padding edit-mode-button">Convert</button>
          <button type="button" class="btn btn-danger btn-sm dropdown-toggle dropdown-toggle-split button-padding edit-mode-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">Mode</h6>
            <a class="dropdown-item active" href="#" data-mode="gregorian">Gregorian</a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="#" data-mode="julian">Julian</a>
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="#" data-mode="julian_day">Julian Day</a>
          </div>
      </div>


      </div>
      {{/with}}
  {%- endraw %}
</script>


<script  id="is-edit" type="text/template">
  {% raw -%}
  {{#with date}}
  {{#with long_count}}
  <div class="col">
    <label class="cal-label" for="baktun-0">Bak'tun</label>
    <input type="text" class="form-control" name="baktun" id="baktun-0" placeholder="9" aria-label="Bak'tun" aria-describedby="basic-addon1" value={{baktun}}>
  </div>
  <div class="col">
    <label class="cal-label" for="katun-0">K'atun</label>
    <input type="text" class="form-control" name="katun" id="katun-0" placeholder="0" aria-label="K'atun" aria-describedby="basic-addon1" value={{katun}}>
  </div>
  <div class="col">
    <label class="cal-label" for="tun-0">Tun</label>
    <input type="text" class="form-control" name="tun" id="tun-0" placeholder="0" aria-label="Tun" aria-describedby="basic-addon1" value={{tun}}>
  </div>
  <div class="col">
    <label class="cal-label" for="winal-0">Winal</label>
    <input type="text" class="form-control" name="winal" id="winal-0" placeholder="0" aria-label="Winal" aria-describedby="basic-addon1" value={{winal}}>
  </div>
  <div class="col">
    <label class="cal-label" for="kin_0">Kin</label>
    <input type="text" class="form-control" name="kin" id="kin-0" placeholder="0" aria-label="Kin" aria-describedby="basic-addon1" value={{kin}}>
  </div>
  {{/with}}
  {{#with calendar_round}}
  {{#with tzolkin}}
  <div class="col">
    <label class="cal-label num-label-align" for="tzolkin-num-0">#</label>
    <input type="text" class="form-control num-width" name="tzolkin-num" id="tzolkin-num-0" placeholder="8" aria-label="#" aria-describedby="basic-addon1" value={{day_number}}>
  </div>
  <div class="col">
    <label class="cal-label" for="tzolkin_0">Tzolkin</label>
    <input type="text" list="tzolkin" class="form-control" name="tzolkin" id="tzolkin-0" placeholder="Ajaw" aria-label="Tzolkin" aria-describedby="basic-addon1" value={{day_name}}>
  </div>
  {{/with}}
  {{#with haab}}
  <div class="col">
    <label class="cal-label num-label-align" for="haab-num-0">#</label>
    <input type="text" class="form-control num-width" name="haab-num" id="haab-num-0" placeholder="13" aria-label="#" aria-describedby="basic-addon1" value={{month_number}}>
  </div>
  <div class="col">
    <label class="cal-label" for="haab-0">Haab</label>
    <input type="text" list="haab" class="form-control" name="haab" id="haab-0" placeholder="Keh" aria-label="Haab" aria-describedby="basic-addon1" value={{month_name}}>
  </div>
  {{/with}}
  {{/with}}
  <div class="col" id="g-col">
    <label class="cal-label" for="g-0">Glyph G</label>
    <input type="text" list="glyph_g" class="form-control g-align" name="g-0" id="g-0" placeholder="G9" aria-label="Glyph G" aria-describedby="basic-addon1" value={{glyph_g}}>
  </div>
  <div class="form-row button-align">
    <button type="button" name="enter-0" id="enter-0" class="btn btn-primary btn-sm button-padding">Enter</button>
  </div>
  <div class="form-row button-align">
    <button type="button" name="infer-0" id="infer-0" class="btn btn-success btn-sm button-padding button-infer button-margin">Infer</button>
  </div>
  <div class="form-row button-align">
    <button type="button" name="clear-0" id="clear-0" class="btn btn-danger btn-sm button-padding button-convert button-margin">Clear</button>
  </div>
  {{/with}}
  {%- endraw %}
</script>

<script id="convert_template" type="text/template">
  {% raw -%}
    <div class="col-2 convert-col">
      {{#if isInitialSeries}}
      <label class="cal-label convert-label" for="conv-date-0">{{cal_type}}</label>
      {{/if}}
      {{#if isJulianDay}}
        {{#with date}}
        <p id={{concat "conv-date-" ../row}}>{{day_number}}<p>
        {{/with}}
      {{else}}
        {{#with date}}
        <p id={{concat "conv-date-" ../row}}>{{month}} {{day}}, {{year}}<p>
        {{/with}}
      {{/if}}
    </div>

  {%- endraw %}
</script>

<script id="dist-edit" type="text/template">
  {% raw -%}
    <div class="form-row dist-edit-row" id={{concat "dist-row-" row}} data-row={{row}}>
      <div class="col-1">
        <label class="cal-label" for={{concat "sign-" row}}>Sign</label>
        <input type="text" list="sign" class="form-control" id={{concat "sign-" row}} placeholder="+" aria-label="Bak'tun" aria-describedby="basic-addon1" {{#unless empty}}value={{distance_number.sign}}{{/unless}}>
      </div>
      <div class="col-1">
        <label class="cal-label" for={{concat "baktun-" row}}>Bak'tun</label>
        <input type="text" class="form-control" id={{concat "baktun-" row}} placeholder="0" aria-label="Bak'tun" aria-describedby="basic-addon1" {{#unless empty}}value={{distance_number.baktun}}{{/unless}}>
      </div>
      <div class="col-1">
        <label class="cal-label" for={{concat "katun-" row}}>K'atun</label>
        <input type="text" class="form-control" id={{concat "katun-" row}} placeholder="0" aria-label="K'atun" aria-describedby="basic-addon1" {{#unless empty}}value={{distance_number.katun}}{{/unless}}>
      </div>
      <div class="col-1">
        <label class="cal-label" for={{concat "tun-" row}}>Tun</label>
        <input type="text" class="form-control" id={{concat "tun-" row}} placeholder="0" aria-label="Tun" aria-describedby="basic-addon1" {{#unless empty}}value={{distance_number.tun}}{{/unless}}>
      </div>
      <div class="col-1">
        <label class="cal-label" for={{concat "winal-" row}}>Winal</label>
        <input type="text" class="form-control" id={{concat "winal-" row}} placeholder="0" aria-label="Winal" aria-describedby="basic-addon1" {{#unless empty}}value={{distance_number.winal}}{{/unless}}>
      </div>
      <div class="col-1">
        <label class="cal-label" for={{concat "kin-" row}}>Kin</label>
        <input type="text" class="form-control" id={{concat "kin-" row}} placeholder="0" aria-label="Kin" aria-describedby="basic-addon1" {{#unless empty}}value={{distance_number.kin}}{{/unless}}>
      </div>
      <div class="form-row button-align">
        <button type="button" id={{concat "enter-" row}} class="btn btn-primary btn-sm button-padding">Enter</button>
      </div>
      <div class="form-row button-align">
        <button type="button" id={{concat "clear-" row}} class="btn btn-danger btn-sm button-padding button-convert button-margin">Clear</button>
      </div>
    </div>
  {%- endraw %}
</script>
<script id="dist-entered" type="text/template">
  {% raw -%}
      {{#each entries}}
        <div class="form-row dist-num-row" id={{concat "dist-row-" row}} data-row={{row}}>
            <div class="col-2">
              <h6 id={{concat "dist-label-" row}}>Distance Number {{row}}:</h6>
            </div>
            <div class = "col-3 main-date-col">
              {{#with distance_number}}
              <p id={{concat "lc-pre-" ../row}}>{{sign}}  {{baktun}}.{{katun}}.{{tun}}.{{winal}}.{{kin}}</p>
              {{/with}}
            </div>
            <div class="col-3 main-date-col">
              <p id={{concat "cr-pre-" row}}>--<p>
            </div>
            <div class = "col-1 g-col">
              <p id={{concat "g-pre-" row}}>--</p>
            </div>
            <div class="form-row button-align col-1">
            </div>
            <div class="form-row button-align col-1">
              <button type="button" id={{concat "edit-" row}} class="btn btn-primary btn-sm button-padding edit-mode-button">Edit</button>
            </div>
            <div class="form-row button-align col-1">
            </div>
        </div>

        <div class="form-row dist-res-row" id={{concat "dist-res-" row}} data-row={{row}}>
          <div class="col-2">
            <h6 id={{concat "dist-label-" row}}>Date:</h6>
          </div>
          <div class = "col-3 main-date-col">
            {{#with result}}
            {{#with long_count}}
            <p id={{concat "lc-" ../../row}}> {{baktun}}.{{katun}}.{{tun}}.{{winal}}.{{kin}}</p>
            {{/with}}
          </div>
          <div class="col-3 main-date-col">
            {{#with calendar_round}}
            <p id={{concat "cr-" ../../row}}>{{#with tzolkin}}{{day_number}} {{day_name}}{{/with}}  {{#with haab}}{{month_number}} {{month_name}}{{/with}}<p>
            {{/with}}
          </div>
          <div class = "col-1 g-col">
            <p id={{concat "g-" ../row}}>{{glyph_g}}</p>
          </div>
          <div class="form-row button-align col-1">
            <button type="button" id={{concat "add-row-" ../row}} class="btn btn-success btn-sm button-padding edit-mode-button">Add Row</button>
          </div>
          <div class="form-row button-align col-1">
          </div>
          <div class="form-row button-align col-1">
          </div>
        </div>
        </div>
        {{/with}}
      {{/each}}

  {%- endraw %}
</script>
{% endblock %}

{% block home_active %}"nav-item active"{% endblock %}
<!-- {% block how_active %}"nav-item"{% endblock %}
{% block cal_active %}"nav-item"{% endblock %}
{% block faq_active %}"nav-item"{% endblock %} -->

{% block body %}
<h3 id="is_title" class="is-tooltip">Step 1: Initial Series</h3>
<p id="is_desc" class="is-tooltip">Start by entering the initial series information below:</p>
  <div class="col-12 container">
      <datalist id="tzolkin">
        <option value="Imix">
        <option value="Ik'">
        <option value="Ak'bal">
        <option value="K'an">
        <option value="Chikchan">
        <option value="Kimi">
        <option value="Manik'">
        <option value="Lamat">
        <option value="Muluk">
        <option value="Ok">
        <option value="Chuwen">
        <option value="Eb">
        <option value="Ben">
        <option value="Ix">
        <option value="Men">
        <option value="Kib">
        <option value="Kaban">
        <option value="Etz'nab">
        <option value="Kawak">
        <option value="Ajaw">
      </datalist>

      <datalist id="haab">
        <option value="Pop">
        <option value="Wo">
        <option value="Sip">
        <option value="Sotz'">
        <option value="Sek">
        <option value="Xul">
        <option value="Yaxk'in">
        <option value="Mol">
        <option value="Ch'en">
        <option value="Yax">
        <option value="Sak">
        <option value="Keh">
        <option value="Mak">
        <option value="Kank'in">
        <option value="Muwan">
        <option value="Pax">
        <option value="K'ayab">
        <option value="Kumk'u">
        <option value="Wayeb">
      </datalist>

      <datalist id="glyph_g">
        <option value="G1">
        <option value="G2">
        <option value="G3">
        <option value="G4">
        <option value="G5">
        <option value="G6">
        <option value="G7">
        <option value="G8">
        <option value="G9">
      </datalist>

      <datalist id="sign">
        <option value="+">
        <option value="-">
      </datalist>



      <form id="parent-form" class="needs-validation" data-converted="false" novalidate>
        <div class="form-row" id="initial-series-row" data-row="0">
          <div class="col">
            <label class="cal-label" for="baktun-0">Bak'tun</label>
            <input type="text" class="form-control baktun" name="baktun" id="baktun-0" placeholder="9" aria-label="Bak'tun" aria-describedby="basic-addon1" pattern="[1-2]*[0-9]">
            <div class="invalid-feedback">
              Enter a number from 0 to 19.
            </div>
          </div>
          <div class="col">
            <label class="cal-label" for="katun-0">K'atun</label>
            <input type="text" class="form-control" name="katun" id="katun-0" placeholder="0" aria-label="K'atun" aria-describedby="basic-addon1">
            <div class="invalid-feedback">
              Enter a number from 0 to 19.
            </div>
          </div>
          <div class="col">
            <label class="cal-label" for="tun-0">Tun</label>
            <input type="text" class="form-control" name="tun" id="tun-0" placeholder="0" aria-label="Tun" aria-describedby="basic-addon1">
            <div class="invalid-feedback">
              Enter a number from 0 to 19.
            </div>
          </div>
          <div class="col">
            <label class="cal-label" for="winal-0">Winal</label>
            <input type="text" class="form-control" name="winal" id="winal-0" placeholder="0" aria-label="Winal" aria-describedby="basic-addon1">
            <div class="invalid-feedback">
              Enter a number from 0 to 17.
            </div>
          </div>
          <div class="col">
            <label class="cal-label" for="kin_0">Kin</label>
            <input type="text" class="form-control" name="kin" id="kin-0" placeholder="0" aria-label="Kin" aria-describedby="basic-addon1">
            <div class="invalid-feedback">
              Enter a number from 0 to 19.
            </div>
          </div>
          <div class="col">
            <label class="cal-label num-label-align" for="tzolkin-num-0">#</label>
            <input type="text" class="form-control num-width" name="tzolkin-num" id="tzolkin-num-0" placeholder="8" aria-label="#" aria-describedby="basic-addon1">
          </div>
          <div class="col">
            <label class="cal-label" for="tzolkin_0">Tzolkin</label>
            <input type="text" list="tzolkin" class="form-control" name="tzolkin" id="tzolkin-0" placeholder="Ajaw" aria-label="Tzolkin" aria-describedby="basic-addon1">
          </div>
          <div class="col">
            <label class="cal-label num-label-align" for="haab-num-0">#</label>
            <input type="text" class="form-control num-width" name="haab-num" id="haab-num-0" placeholder="13" aria-label="#" aria-describedby="basic-addon1">
          </div>
          <div class="col">
            <label class="cal-label" for="haab-0">Haab</label>
            <input type="text" list="haab" class="form-control" name="haab" id="haab-0" placeholder="Keh" aria-label="Haab" aria-describedby="basic-addon1">
          </div>
          <div class="col" id="g-col">
            <label class="cal-label" for="g-0">Glyph G</label>
            <input type="text" list="glyph_g" class="form-control g-align" name="g-0" id="g-0" placeholder="G9" aria-label="Glyph G" aria-describedby="basic-addon1">
          </div>
          <div class="form-row button-align">
            <button type="button" name="enter-0" id="enter-0" class="btn btn-primary btn-sm button-padding">Enter</button>
          </div>
          <div class="form-row button-align">
            <button type="button" name="infer-0" id="infer-0" class="btn btn-success btn-sm button-padding button-infer button-margin">Infer</button>
          </div>
          <div class="form-row button-align">
            <button type="button" name="clear-0" id="clear-0" class="btn btn-danger btn-sm button-padding button-convert button-margin">Clear</button>
          </div>
        </div>
        <div id="dist-rows"></div>
      </form>

    </div>

    <!-- The Modal -->
    <div id="infer-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Infer missing components</h2>
    </div>
    <div class="modal-body">

      <div class="form-row">
        <div class="col-5">
          <h5>Filter results</h5>
        </div>
        <div class="col-1">
          <label for="infer-min">From:</label>
        </div>
        <div class="col-2">
          <input id="infer-min" type="text" class="form-control" placeholder="9.0.0.0.0">
        </div>
        <div class="col-1">
          <label for="infer-min">To:</label>
        </div>
        <div class="col-2">
          <input id="infer-max" type="text" class="form-control" placeholder="10.0.0.0.0">
        </div>
        <div class="col-1">
        <button id='infer-filter' class="btn btn-primary" type=button>Filter</button>
        </div>

      </div>
      <div class="table-scroll">
        <table class ="table table-sm" id="infer-res-table">
          <thead>
            <tr>
              <th scope="col">Long Count</th>
              <th scope="col">Calendar Round</th>
              <th scope="col">Glyph G</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

    </div>
    <div class="modal-footer">
      <button id='infer-select' class="btn btn-primary" type=button>Select</button>
    </div>
  </div>

</div>
</div>




{% endblock %}
